body {
    background-color: #f2f5fa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

/* 调整搜索框样式 */
#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#searchInput {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    background-color: #f8f9fb;
    transition: all 0.3s ease;
}

#searchInput:focus {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 153, 255, 0.4);
}

button {
    margin-right: 10px;
    padding: 10px 30px;
    border: none;
    background-color: #0099ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translate(0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 加入hover效果 */
button:hover {
    background-color: #0080ff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: translate(0, -2px);
}

/* 调整表格和分页部分的样式 */
#tableContainer {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden; /* 防止表格变形 */
    transform: translate(0, 0);
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead th {
    background-color: #0099ff;
    color: #fff;
    font-weight: 600;
    text-align: left;
    padding: 15px;
    border-bottom: 3px solid #fff;
    border-radius: 0 0 20px 0;
}

tbody td,
tbody th {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background-color: #f2f5fa;
}

#pagination {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    max-width: 800px;
}

.pagination-link {
    display: block;
    padding: 10px 15px;
    border: none;
    background-color: #fff;
    color: #0099ff;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pagination-link:hover {
    background-color: #f8f9fb;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: translate(0, -2px);
}

.pagination-link.active {
    background-color: #0099ff;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}