.question-statistics {
    margin-left: auto;
    margin-bottom: 20px;
}

.question-title {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
}

.question-statistics table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.question-statistics th,
.question-statistics td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.question-statistics th {
    background-color: #30A5F5;
    color: #ffffff;
}

.chart-container {
    margin-left: 270px;
    max-width: 800px;
    max-height: 425px;
}

.chart-options label {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
}

.chart-options input[type="radio"].chartType:checked + label {
    background-color: #67b9f3; /* 设置选中状态下边框颜色 */
}