body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.container input[type="text"],
.container input[type="button"] {
    display: block;
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.container input[type="text"]:focus,
.container input[type="button"]:hover {
    border-color: #a0a0a0;
}

#btn {
    background-color: #337ab7;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#btn:hover {
    background-color: #23527c;
}
