body {
  background-color: #EBF0F4 !important;
}

.container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px !important;
}

.info {
  color: #30A5F5;
  font-size: 17px;
  margin-bottom: 30px;
}

.info > span {
  color: #000000;
}

.table th,
.table td {
  text-align: center;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.link-text {
  word-break: break-all;
  text-align: center;
  margin-bottom: 10px;
}

.copy-button,
.close-button {
  background-color: #67b9f3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.close-button {
  margin-left: 10px;
}

.ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}



