.container {
    max-width: 800px;
    padding: 30px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius: 7px;
}

.question-statistics {
    margin-left: auto;
    margin-bottom: 20px;
}

.question-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.question-statistics table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.question-statistics th,
.question-statistics td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.question-statistics th {
    background-color: #30A5F5;
    color: #ffffff;
}

.question-statistics .count {
    font-weight: bold;
}

.chart-menu {
    align-self: center;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.chart-menu button:hover {
    background-color: #9d9d9d;
}

.chart-menu button {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
    margin-bottom: 10px;
}


#chart-table {
    display: block;
}

#chart-bar {
    display: none;
}